<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <!-- datatable -->
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
    <!-- end datatable -->

    <!-- chart JS-->
    <script src="{% static 'chart.min.js' %}"></script>

    <!-- cardview style -->
    <link rel="stylesheet" href="{% static 'cardview.css' %}">

    <title>
        {% block title %} {% endblock %}
    </title>

    {% block style %}

    {% endblock %}
</head>

<body>
    {% block header %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">BSDev HR SYSTEM</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                {% if request.user.is_authenticated %}
                <a class="nav-link px-3">Welcome, {{ request.user.first_name }} {{ request.user.last_name }}</a>
                <a class="nav-link px-3" href="{% url 'accounts:logout' %}">Sign out</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url  'hrSystem:dashboard' %}">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:region-list' %}">
                                <span data-feather="file"></span>
                                Regions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:country-list' %}">
                                <span data-feather="shopping-cart"></span>
                                Countries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:location-list' %}">
                                <span data-feather="users"></span>
                                Locations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:departement-list' %}">
                                <span data-feather="bar-chart-2"></span>
                                Departements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:service-list' %}">
                                <span data-feather="layers"></span>
                                Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:status-list' %}">
                                <span data-feather="layers"></span>
                                Statuses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:assurance-list' %}">
                                <span data-feather="layers"></span>
                                Assurances
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:bank-list' %}">
                                <span data-feather="layers"></span>
                                Banks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:job-list' %}">
                                <span data-feather="layers"></span>
                                Jobs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:employee-list' %}">
                                <span data-feather="layers"></span>
                                Emmployees
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:leave-list' %}">
                                <span data-feather="layers"></span>
                                Leave Management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'accounts:change_password' %}">
                                <span data-feather="layers"></span>
                                Change Password
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if messages %}

                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}
                </div>
                {% endfor %}

                {% endif %}

                {% block page_content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- chart JS End-->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
    <!-- datatable  -->
    <script src="{% static 'javascript/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'javascript/jszip.min.js' %}"></script>
    <script src="{% static 'javascript/pdfmake.min.js' %}"></script>
    <script src="{% static 'javascript/vfs_fonts.js' %}"></script>
    <script src="{% static 'javascript/buttons.html5.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.print.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.colVis.min.js' %}"></script>
    <!-- end datatable  -->
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="{% static 'javascript/feather-icons.feather.min.js' %}"></script>




</body>

</html>