<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">

    <title>
        {% block title %} {% endblock %}
    </title>
    {% block style %}
    
    {% endblock %}
</head>

<body>
    {% block header %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">BSDev HR SYSTEM</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'registration:logout' %}">Sign out</a>
            </div>
        </div>
    </header>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:region-list' %}">
                                <span data-feather="file"></span>
                                Regions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:country-list' %}">
                                <span data-feather="shopping-cart"></span>
                                Countries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:location-list' %}">
                                <span data-feather="users"></span>
                                Locations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:departement-list' %}">
                                <span data-feather="bar-chart-2"></span>
                                Departements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:service-list' %}">
                                <span data-feather="layers"></span>
                                Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:status-list' %}">
                                <span data-feather="layers"></span>
                                Statuses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:assurance-list' %}">
                                <span data-feather="layers"></span>
                                Assurances
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:bank-list' %}">
                                <span data-feather="layers"></span>
                                Banks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:job-list' %}">
                                <span data-feather="layers"></span>
                                Jobs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'hrSystem:employee-list' %}">
                                <span data-feather="layers"></span>
                                Emmployees
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block page_content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
  
</body>

</html>