{% extends 'base_app.html' %}

{% block page_content %}
<br>
<div class="card">
    <h5 class="card-header">
        {% if not form.instance.pk %}
        Create Status
        {% else %}
        Update Status
        {% endif %}
    </h5>
    <form class="form-control" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger btn-sm" value="Yes, I'm sure">
        <a class="btn btn-secondary btn-sm" href="{% url 'hrSystem:status-list' %}"> No, take me back </a>
    </form>
</div>
{% endblock %}