{% extends 'base_app.html' %}

{% block page_content %}
<br>
<div class="card">
    <div class="card-header">
        <h5 class="d-inline">Withdrawals</h5> 
        <a href="{% url 'hrSystem:withdrawal-create' %}" type="button" class="btn btn-primary btn-sm float-end">
            New Withdrawal
        </a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Withdrawal Name</th>
                <th scope="col">Withdrawal Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
                {% for withdrawal in withdrawals %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{withdrawal.withdrawal_name}}</td>
                    <td>{{withdrawal.withdrawal_amount}}</td>
                    <td>{{withdrawal.description}}</td>
                    <td class="btn-group" role="group" aria-label="Basic mixed styles example"><a type="button"
                        class="btn btn-warning btn-sm"
                        href="{% url 'hrSystem:withdrawal-update' pk=withdrawal.pk %}">update</a> <a type="button"
                        class="btn btn-danger btn-sm"
                        href="{% url 'hrSystem:withdrawal-delete' pk=withdrawal.pk %}">delete</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}