{% extends 'base.html' %}

{% load static %}

{% block title %} Change Password {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}">
{% endblock %}

{% block page_content %}
<form action="" method="post">
  {% csrf_token %}
  <h1 class="h4 mb-3 fw-normal">Please Change Password </h1>
  {{ form.as_p }}
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; BSDev Technologies 2017–2023</p>
</form>
{% endblock %}