{% extends 'base.html' %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}">
{% endblock %}

{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
        {{ form.username}}
        <label for="id_username">Username</label>
    </div>
    <div class="form-floating">
        {{ form.password}}
        <label for="id_password">Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; BSDev Technologies 2017–2023</p>
</form>
{% endblock %}